* {
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
}
/* global layout containers  */
.container100 {
    height: 100vh;
    border: 2px solid;
    margin: 10px;
}
.container50 {
    height: 50vh;
    border: 2px solid;
    margin: 10px;
    background-color: darkcyan;
    text-align: center;
    color: #fff;
}
.container10 {
    height: 10vh;
    border: 2px solid;
    margin: auto;
}
.flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}
.grid {
    display: grid;

}

/* banner login */
.login-page {
    width: 360px;
    padding: 30px 0 0;
    margin: auto;
}
.form {
    position: relative;
    z-index: 1;
    background:rgba(195, 199, 198, 0.7);
    width: 300px;
    /* margin: 0; */
    padding: 25px;
    text-align: center;
}
.form input {
    font-family: 'Courier New', Courier, monospace;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;

}

.form button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: darkcyan;
    width: 100%;
    border:0;
    padding: 15px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

.form button:hover, .form button:active {
    background: #fff;;
    color: darkcyan;
}

.form .message {
    margin: 15px 0 0;
    color: #fff;
    font-size: 12px;
}

.form .message a {
    color: darkcyan;
    margin: 15px;
    
}
.form .register-form {
    display: none;
}

/* Top navigation menu properties */
nav {
    width: auto;
    border: 1px solid;
    padding: 10px;
}
.navbox {
    
    margin: auto;
    
}

.flex-nav a {
    color: #fff;
    text-decoration: none;
  
    

 
}
.flex-nav a:hover {
    text-decoration: underline;
    
}

/* dashboard properties
    2 components = 
    [buttons .dashlinks] 
    &
    [div .dashcontent] 
*/

/* dashboard selector buttons */
#firstDash {background-color: green;}
#secondDash {background-color: red;}
#thirdDash {background-color: blue;}

.dashboard {
    margin: auto;
    text-align: center;
}
.dashcontent {
    display: none;
    height: 30vh;
    margin: auto;
    padding: 20px;
}

.dashlinks {
    background-color: #555;
    color: #fff;
    border: none;
    outline: none;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
    
    align-items: center;
    justify-content: center;
    
  }












/* Testing layout boxes */
.box {
    border:3px solid;
    /* background-color: lightgreen;  */
    margin: auto;
    height: 30vh;
    width: 30%;
    text-align: center;
    align-items: center;
    justify-content: center;

    display: flex;

    
}

footer {
    
    background-size: contain;
    padding-top: 20px;
    
}


.dashboard-container {
    height: 12vh;
    border: 2px solid;
    margin: auto;
    text-align: center;
}