* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body {
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    
}
/* global layout containers  */
.container100 {
    height: 100vh;
    border: 2px solid;
    margin: 10px;
}
.container50 {
    height: 50vh;
    border: 2px solid;
    margin: 10px;
    background-color: darkcyan;
    text-align: center;
    color: #fff;
    display: flex;
}
.container20 {
    height: 20vh;
    background-color: darkcyan;
    border: 2px solid;
    color: #fff;
    margin: 10px;
    text-align: center;
}
.container10 {
    height: 10vh;
    background-color: darkcyan;
    border: 2px solid;
    color: #fff;
    margin: 10px;
    text-align: center;
}
.placement {
    margin: auto;
    padding: 15px;
}
.flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;

}
.grid {
    display: grid;

}

/* banner login */
.login-page {
    width: 360px;
    padding: 30px 0 0;
    margin: auto;
}
.form {
    position: relative;
    z-index: 1;
    background:rgba(195, 199, 198, 0.7);
    width: 300px;
    margin: 5px;
    padding: 25px;
    text-align: center;
}
.form input {
    font-family: 'Courier New', Courier, monospace;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;

}
.form input[type=text] {
    text-align: center;
} 

.form button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: darkcyan;
    width: 100%;
    border:0;
    border-radius: 10px;
    padding: 15px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

.form button:hover, .form button:active {
    background: #fff;;
    color: darkcyan;
}

.form .message {
    margin: 15px 0 0;
    color: #fff;
    font-size: 12px;
}

.form .message a {
    color: darkcyan;
    margin: 15px;
    
}
.form .register-form {
    display: none;
}

/* Top navigation menu properties */
nav {
    width: auto;
    border-bottom: 1px solid;
    padding: 10px;
}
.navbox {
    margin: auto;
    height: 75px;
    width: 80px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    padding: 10px;
}
.flex-nav a {
    color: darkcyan;
    text-decoration: none;
    margin: auto;
    font-weight: bold;
    font-family: 'Inconsolata', monospace;
    margin: auto;
    

    
    
}
.flex-nav a:hover {
    text-decoration: underline;
}

/* dashboard properties
    2 components = 
    [buttons .dashlinks] 
    &
    [div .dashcontent] 
*/

/* dashboard selector buttons */
#firstDash {background-color: darkgrey;}
#secondDash {background-color: darkcyan;}
#thirdDash {background-color: darkgray;}

.dashboard {
    margin: auto;
    text-align: center;
}
.dashcontent {
    display: none;
    height: 30vh;
    margin: 10px;
    padding: 20px;
    color: #fff;
}

.dashlinks {
    background-color: darkcyan;
    border-radius: 10px;
    color: #fff;
    border: none;
    outline: none;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
    
    align-items: center;
    justify-content: center;
  }

/* dash panels content */
/* panel display */
.box {
    border:3px solid;
    background: #fff;
    color: darkcyan;
    margin: auto;
    height: 30vh;
    width: 30%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;

    transition-property: all 2s;
    transition-timing-function: ease-in-out;
    transition-duration: 2s;
}
.box:hover {
    transform: translate(10px, -10px);
}
.box-content li {
    margin: 10px;
    list-style-type: none;
}

/* user activity monitor */
span {text-decoration: underline; font-weight: bold;}
.dev-active {color: green;}
.dev-standby {color: orange;}
.dev-inactive {color: red;}

/* dash panels SVG charts */
.circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 70%;
    max-height: 250px;
  }
  .circle {
    stroke: darkcyan;
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }
  .circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
  }
  .percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
  }

  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }
footer {
    background-size: contain;
    padding-top: 20px;
    margin: auto;
}

/* media queries for mobile
    max-width = 500px */
@media screen and (max-width: 700px) {
    .navbox {
        display: inline-block;
        margin: auto;
    }
    .navbox a {
        margin: auto;
    }
    .container100, .container50, .container10, .dashboard {
        display: block;
        height: fit-content;
    }
    .container50 {
        margin: auto;
    }
    .login-page {
        text-align: center;
        margin: auto;
    }
    .form {
        max-width: 350px;
        top: 0;
        background:rgba(195, 199, 198, 0.7);
        margin: auto;
        text-align: center;
    }
    .flex {
        display: block;
        width: 100%;
    }
    .box {
        width: 90%;
        max-height: 250px;
        height: fit-content;
        margin: auto;
    }

}